
<div>
  <table class="Student">
    <thead>
      <tr>
        <th><strong>Student ID</strong></th>
        <th><strong>Student Name</strong></th>
        <th><strong>Action</strong></th>
      </tr>
    </thead>

    <tbody *ngFor="let student of Students">
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td><button (click)="getstudentdata(student)">VIEW</button></td>
      </tr>

    </tbody>
  </table>
</div>
<br><br>
<div class="student" *ngIf="viewstudent">
  <p id="head1"><strong>Student Basic Details are</strong></p>
  <p>Student ID : {{SelectedStudent.id}}</p>
  <p>Student Name : {{SelectedStudent.name}}</p>
  <p>Student class : {{SelectedStudent.class}}</p>
</div>
