<p id="details"><strong>Student Details Form </strong></p>

<nav>
  <ul>
    <li><a routerLink="/studenttable" routerLinkActive="active" ariaCurrentWhenActive="page">Student Basic Details Form</a></li>
    <br>
    <li><a routerLink="/studentpersonaldetails" routerLinkActive="active" ariaCurrentWhenActive="page">Student Personal Details Form</a></li>
    <br>
    <li><a routerLink="/studentacademicdetails" routerLinkActive="active" ariaCurrentWhenActive="page">Student Academic Details Form</a></li>

  </ul>
</nav>

